<ion-view view-title="Search">
  <ion-content>
    <h1>Search Page</h1>
	<p>YouTube Seach Bar (sends you to page from your search input)</p>
	
	<form action="http://www.youtube.com/results" method="get" target="_blank" >
		<input name="search_query" type="text" maxlength="128" />
		<select name="search_type">
		<option value="">Videos</option>
		<option value="search_users">Channels</option>
		</select>
		<input type="submit" value="Search" />
	</form>

	<p>Google Search Bar (sends you to page from your search input)</p>
	<form method="get" action="http://www.google.com/search">
		<input type="text"   name="q" size="31"
		maxlength="255" value="" />
		<input type="submit" value="Google Search" />
		<input type="radio"  name="sitesearch" value="" />
		The Web
	</form>

  </ion-content>
</ion-view>
